.nav-bar {
margin: 0px;
padding: 0px;
position: absolute;
height: 60px;
width: 100%;
background-color: aqua;
}
#logo{
background-color: black;
margin: 0px;
margin-left: 15%;
padding: 0px;
position: absolute;
height: 60px;
width: 10%;
}
#menu{
  background-color: black;
  margin: 0px;
  margin-left: 15%;
  padding: 0px;
  position: absolute;
  height: 60px;
  width: 10%;
}